@import url("../../variables.css");

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 10px 40px;
}

.navBar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.navBar ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--branco);
}

@media (max-width: 991px) {
    .navBar ul {
        gap: 2rem;
        align-items: center;
    }

    .navBar ul li a {
        font-size: 12px;
    }

    .navBar ul li img {
        width: 20px;
    }

    .home, .mylist, .bell {
        display: none;
    }
}